project_id = "your-gcp-project-id"
region     = "us-central1"
zone       = "us-central1-a"
machine_type = "e2-micro"
repo_url     = "https://github.com/taytwkim/p2pfs.git"
repo_branch  = "main"
go_version   = "1.25.0"
